@page "/Course/{CourseCode}"
@page "/Course/{CourseCode}/{SelectionIndex:int?}"
@layout CourseLayout
@using Common.Data


@* ReSharper disable once RedundantUsingDirective *@
@using FrontEnd.Pages.QuestionPages
@using FrontEnd.Pages.Shared


@*Questions*@
<h4 id="SessionNameHeader" class="text-center text-break">@GetSelectedSessionName()</h4>
<div class="align-self-center" style="width: 95%">
    @if (ViewModel.SelectedSession != null) {
        @foreach (Question question in ViewModel.Questions) {
            <QuestionCard CourseCode="@CourseCode" Question=@question></QuestionCard>        }
    }
    else {
        <MatProgressCircle Indeterminate="true" FourColored="true"/>    }
</div>