﻿@page "/CourseSettings/{CourseCode}"
@using FrontEnd.ViewModels
@using Microsoft.AspNetCore.Identity
@using FrontEnd.Services
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject UserManager<IdentityUser> UserManger
@inject RoleManager<IdentityRole> RoleManager
@inject ICourseService CourseService
<CascadingAuthenticationState>
    <AuthorizeView Roles="@($"Lecturer-{CourseCode}, Staff")">
        <Authorized Context="auth">
            <div class="d-flex justify-content-center">

                <div class="d-flex flex-column mb-4 p-4" style="width: 50%; min-width: 200px; background-color: #bebebe">


                    <h3>CourseSettingsPage</h3>
                    <div>
                        @if (ViewModel?.UserRoleMap != null) {
                            <MatTable id="ParticipantsTable" Items="@ViewModel.UserRoleMap">
                                <MatTableHeader>
                                    <th>Email</th>
                                    <th>Role</th>
                                </MatTableHeader>
                                <MatTableRow>
                                    <td>@context.Key.Email</td>
                                    <td>
                                        <MatSelect Id="RoleSelector" Label="Select Role" ValueChanged="@((string option) => UpdateRoles(context.Key, option))" Value="context.Value">
                                            <MatOptionString Value="@("Student-" + CourseCode)">Student</MatOptionString>
                                            <MatOptionString Value="@("TeachingAssistant-" + CourseCode)">Teaching Assistant</MatOptionString>
                                            <MatOptionString Value="@("Lecturer-" + CourseCode)">Lecturer</MatOptionString>
                                        </MatSelect>
                                    </td>
                                </MatTableRow>
                            </MatTable>
                        }
                    </div >
                </div>
            </div>
        </Authorized>
        <NotAuthorized>You either haven't join this course to see the content or you aren't loged in.</NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code
{
    [Parameter]
    public string CourseCode { get; set; }

    public CourseRoleViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync() {
        CourseCode = CourseCode.ToUpper();
        await base.OnInitializedAsync();
        ViewModel = new CourseRoleViewModel(CourseCode, CourseService);
        await ViewModel.UpdateCourseUsers(CourseService);
    }

    private void UpdateRoles(IdentityUser identityUser, string option) {
        InvokeAsync(async () => await UpdateRole(identityUser, option));
    }

    private async Task UpdateRole(IdentityUser identityUser, string option) {
        string oldRole = ViewModel.GetRole(identityUser);
        ViewModel.UserRoleMap[identityUser] = option;
        await UserManger.RemoveFromRoleAsync(identityUser, oldRole);
        if (!await RoleManager.RoleExistsAsync(option))
            await RoleManager.CreateAsync(new IdentityRole(option));
        await UserManger.AddToRoleAsync(identityUser, option);
        StateHasChanged();
    }
}