@using FrontEnd.Services
@using FrontEnd.ViewModels
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider StateProvider
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager
@inject ICourseService CourseService
@inject RoleManager<IdentityRole> RoleManager
@inject TinyCourseViewModel ViewModel

<MatDialog @bind-IsOpen="@DialogIsOpen" style="background-color: #c4c4c4cc">

    <div style="background-color: #F3F3F3; padding: 20px 10px;">
        <MatDialogTitle>Create Course</MatDialogTitle>
        <MatDialogContent Style="background-color: #c4c4c4; padding-top: 20px;">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized Context="auth">
                        <EditForm OnValidSubmit="@HandleValidSubmit" class="form-group" Model="ViewModel">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <ValidationSummary></ValidationSummary>
                            <div>
                                <MatTextField Id="CourseNameField" Required="true" class="input-field" @bind-Value="@ViewModel.Course.Name" Label="Name"></MatTextField>

                            </div>
                            <div>
                                <MatTextField Id="CourseSubtitleField" Required="true" class="input-field" @bind-Value="@ViewModel.Course.SubTitle" Label="Sub Title"></MatTextField>

                            </div>
                            <div>
                                <MatTextField Id="CourseYearField" Required="true" class="input-field" @bind-Value="@ViewModel.Course.Year" Label="Year"></MatTextField>

                            </div>
                            <div>
                                <MatCheckbox Id="CourseSeasonCheckbox" class="input-field" @bind-Value="@ViewModel.Course.IsFall" Label="Is it a fall course?"></MatCheckbox>

                            </div>
                            <div>
                                <MatTextField Id="CourseTagsField" class="input-field" @bind-Value="@_tags" Label="Tags(Seperated by ,)"></MatTextField>

                            </div>
                            <div>
                                <MatTextField Id="CourseLanguageField" class="input-field" @bind-Value="@_langs" Label="Supported Languages(Separated by ,)"></MatTextField>
                            </div>

                            <div>
                                <button Id="CreateCourseButton" type="submit" class="btn btn-primary" style="background-color: #ACEA5E; border: none">Create</button>
                                <button Id="CancelButton" type="reset" class="btn btn-primary" @onclick="@(Hide)" style="background-color: #F17C7C; border: none">Cancel</button>
                            </div>
                        </EditForm>
                    </Authorized>

                    <NotAuthorized>
                        You need to be logged in to see this page.
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </MatDialogContent>
    </div>
</MatDialog>