@page "/"
@page "/{CourseNavigationError?}"
@using Microsoft.AspNetCore.Identity
@using Common.Data
@using Common.Protos.Utility
@using FrontEnd.Pages.CoursePages
@using FrontEnd.Services
@using FrontEnd.ViewModels
@inject AuthenticationStateProvider StateProvider
@inject UserManager<IdentityUser> UserManager
@inject ICourseService CourseService
@inject NavigationManager NavigationManager
@inject IMatToaster Toaster
@inject IRoleService RoleService

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column border rounded" style="width: 55%;min-width: 375px;background-color: #bebebe">

                    <div class="p-2 d-flex justify-content-center">
                        <MatButton id="JoinCourseButton" Class="border rounded" Label="Join Course" OnClick="@(_ => { JoinCourseDialogOpen = true; })" Style="background-color: #bababa"></MatButton>
                    </div>
                    @foreach (TinyCourse course in _courses) {
                        <div class="p-2">
                            <CourseCard ViewModel="@(new TinyCourseViewModel(course))" User="@_user" OnUpdate="@Updated"></CourseCard>
                        </div>
                    }
                    <div class="p-2">
                        <AuthorizeView Roles="Staff">
                            <Authorized Context="auth">
                                <MatButton Id="CreateCourseButton" @onclick="@(() => CreateCourse.Show())" class="float-right" Style="width: 64px; height: 64px">
                                    <img src="assets/icons/CreateCourseIcon.png" alt="Create course" style="width: 100%;"/>
                                </MatButton>
                            </Authorized>
                            <NotAuthorized Context="notAuth">
                                <MatButton class="btn btn-primary" OnClick="AddUserToRole">
                                    Add to Staff
                                </MatButton>
                            </NotAuthorized>
                        </AuthorizeView>

                    </div>
                </div>

            </div>

        </Authorized>
        <NotAuthorized>
            Welcome to Uni Course Helper please login in to top right coner.
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


<MatDialog @bind-IsOpen="@JoinCourseDialogOpen">
    <MatDialogTitle>Join a course</MatDialogTitle>
    <MatDialogContent>
        <p>The course code is given by your lecturer</p>
        <p class="text-danger">@JoinCourseErrors</p>
        <MatTextField id="CourseCodeField" Class="d-flex align-self-center" @bind-Value="@JoinCourseCode" Label="Course Code"></MatTextField>
    </MatDialogContent>
    <MatDialogActions Class="d-flex flex-row justify-content-around">
        <MatButton id="CancelJoinCourseButton" OnClick="@CloseAndClearDialog">Cancel</MatButton>
        <MatButton id="JoinCourseWithCodeButton" OnClick="@(_ => { JoinCoursePressed(); })">Join</MatButton>
    </MatDialogActions>
</MatDialog>

<CreateCourseDialog @ref="@CreateCourse"></CreateCourseDialog>

@code {
    private List<TinyCourse> _courses = new();
    private IdentityUser _user;
    public CreateCourseDialog CreateCourse;

    [Parameter]
    public string CourseNavigationError { get; set; }

    public string JoinCourseErrors { get; set; }
    public string JoinCourseCode { get; set; }
    public bool JoinCourseDialogOpen { get; set; }

    protected override void OnInitialized() {
        base.OnInitialized();
        if (string.Equals(CourseNavigationError, "CourseNotFound", StringComparison.CurrentCultureIgnoreCase)) {
            Toaster.Add("The course you were trying to navigate to does not exist", MatToastType.Danger);
        }
        else if (string.Equals(CourseNavigationError, "NoCourseSelected", StringComparison.CurrentCultureIgnoreCase)) {
            Toaster.Add("No course was selected", MatToastType.Danger);
        }
    }

    protected override async Task OnInitializedAsync() {
        AuthenticationState state = await StateProvider.GetAuthenticationStateAsync();
        if (state.User == null) {
            return;
        }

        IdentityUser user = await UserManager.GetUserAsync(state.User);
        if (user == null) {
            return;
        }
        _user = user;

        UpdateCourses();
    }

    public void Updated() {
        UpdateCourses();
        StateHasChanged();
    }

    public bool JoinCoursePressed() {
        if (JoinCourseCode == null || JoinCourseCode.Length < 4 || JoinCourseCode.Length > 6) {
            JoinCourseErrors = "Code must be between 4 and 6 characters";
            return false;
        }
        RequestResult res = CourseService.JoinCourse(JoinCourseCode.ToUpper(), _user.Id);

        if (res.Succeeded) {
            JoinCourseDialogOpen = false;
            NavigationManager.NavigateTo("api/RefreshSignIn/", true);

            return true;
        }
        List<string> errors = res.Errors.ToList();
        JoinCourseErrors = string.Join("\n", errors);

        return false;
    }

    public void UpdateCourses() {
        _courses = CourseService.GetAllCoursesThatUserIsPartOf(_user.Id);
    }

    private void CloseAndClearDialog() {
        JoinCourseDialogOpen = false;
        JoinCourseCode = string.Empty;
        JoinCourseErrors = string.Empty;
    }

    private async void AddUserToRole() {
        await UserManager.AddToRoleAsync(_user, "Staff");
        NavigationManager.NavigateTo("api/RefreshSignIn", true);
    }

}