﻿<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="float-right nav-link text-dark" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="float-right nav-link text-dark" method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link text-dark p-0">Log out</button>
                </form>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="float-right nav-link text-dark" href="Identity/Account/Login">Log in</a>
            </li>
            <li class="nav-item">
                <a class="float-right nav-link text-dark" href="Identity/Account/Register">Register</a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>