﻿@using Common.Data
@using Markdig
<div>
    <div class="d-flex flex-column border border-dark rounded" style="background-color: #d1d1d1">
        <div class="border-bottom">
            <NavLink id="QuestionTitle" class="nav-link text-break" href="@GetQuestionLink()">
                @*_viewModel.QuestionName*@
                @Question.Title
            </NavLink>
        </div>
        <div class="border-top p-1">
            <p id="QuestionContent" class="text-break">@*_viewModel.Description*@ @((MarkupString) Markdown.ToPlainText(Question.Content))</p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Question Question { get; set; }

    [Parameter]
    public string CourseCode { get; set; }

    //private QuestionViewModel _viewModel;

    private string GetQuestionLink() => $"Course/{CourseCode}/Q/{Question.Id}";

}