﻿@using Microsoft.AspNetCore.Identity
@layout MainLayout
@inherits MainLayout
@* ReSharper disable once RedundantUsingDirective *@
@using FrontEnd.Pages.CoursePages.Components
@using FrontEnd.PubSub
@using FrontEnd.Services
@using FrontEnd.ViewModels
@inject AuthenticationStateProvider StateProvider
@inject UserManager<IdentityUser> UserManager
@inject QuestionSubscription QuestionSubscription
@inject NavigationManager NavigationManager
@inject PhysicalQuestionSubscription PhysicalQuestionSubscription
@inject IQuestionService QuestionService

<AuthorizeView Roles="@GetAllowedRoles">
    <Authorized>

        <div class="d-flex flex-row justify-content-between">
            <SessionComponent @ref="@SessionsComponent" User="@User" CourseCode="@CourseCode" ViewModel="@ViewModel"></SessionComponent>
            <CascadingValue Value="User">
                <CascadingValue Value="CourseCode">
                    <CascadingValue Value="ViewModel">
                        <CascadingValue Value="SessionsComponent">
                            <div class="d-flex flex-column mb-4 p-4" style="width: 50%; min-width: 200px; background-color: #bebebe">
                                @*Questions*@
                                @Body
                            </div>
                            <HelpComponent PhysicalQuestionViewModel="@(new PhysicalQuestionViewModel(CourseCode, PhysicalQuestionSubscription, QuestionService))"></HelpComponent>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </div>

    </Authorized>
    <NotAuthorized>You either have not joined this course or you are not logged in to see the content.</NotAuthorized>
</AuthorizeView>

@code {
    public SessionComponent SessionsComponent { get; set; }
}