﻿@using Common.Data
@using FrontEnd.Pages.Shared
@using FrontEnd.Services
@using FrontEnd.ViewModels
@using Microsoft.AspNetCore.Identity
@inject IRoleService RoleService

<div class="d-flex flex-column border p-2" style="height: 100%;width: 20%;min-width: 75px; max-width: 300px;background-color: #bebebe">
    @*Session overview*@
    <h4 class="text-center text-break">Exercise Sessions</h4>
    @*Return to all Sessions button*@
    <a href="@GetLinkToSession(DefaultSession)" @onclick="@(() => OnSessionSelected(DefaultSession))"
       class="@GetSessionClasses(DefaultSession)" style="width: 95%; background-color: #d1d1d1">
        All Exercise Sessions
    </a>
    @*Get all sessions*@
    @foreach (Session session in GetSortedSessions) {
        <a id="SessionEntries" href="@GetLinkToSession(session)" class="@GetSessionClasses(session)" @onclick="@(() => OnSessionSelected(session))"
           style="width: 95%; background-color: #F3F3F3">
            @session.Name
            @if (session.IsActive()) {
                <span></span>
                <img src="assets/icons/Live-Session.png" alt="Session is Live" style="height: 24px;"/>
            }
        </a>
    }
    @* *@
    @if (User is not null && RoleService.RequestIsUserInRole(User, "Lecturer-" + CourseCode)) {
        <MatButton Id="CreateSessionButton" @onclick="@(() => { CreateSessionDialog.Show(); })" class="m-1 p-1 text-break border align-self-center text-center" Style="width: 95%; background-color: #F3F3F3; color: #00000032; font-size: 13px;">
            Add new session<img src="assets/icons/CreateSessionIcon.png" alt="Create Session" style="height: 100%;"/>
        </MatButton>    }
</div>

<CreateSessionDialog @ref="@CreateSessionDialog" CourseCode="@CourseCode" OnCreated="@(() => { ViewModel.ClearSessions(); StateHasChanged(); })"></CreateSessionDialog>

@code{
    public static readonly Session DefaultSession = new("ALLSESSIONS", DateTime.MinValue, DateTime.Now);

    [Parameter]
    public string CourseCode { get; set; }

    private string GetSessionClasses(Session session) {
        return "m-1 p-1 text-break border align-self-center text-center text-decoration-none " + (ViewModel?.SelectedSession?.Id == session.Id ? "selected-session" : "");
    }

    [Parameter]
    public TinyCourseViewModel ViewModel { get; set; }

    public Action OnUpdatedSession { get; set; }

    [Parameter]
    public IdentityUser User { get; set; }

    public CreateSessionDialog CreateSessionDialog = null;

    public string GetLinkToSession(Session session) {
        return "/Course/" + CourseCode + "/" + ViewModel.Sessions.IndexOf(session);
    }


    private IEnumerable<Session> GetSortedSessions => ViewModel.Sessions.OrderBy(session => session.StartDate.Millisecond);

    protected override void OnInitialized() {
        ViewModel.Sessions.Sort((se1, se2) => DateTime.Compare(se1.EndDate, se2.EndDate));
        if (ViewModel.ActiveSession is not null)
            OnSessionSelected(ViewModel.ActiveSession);
    }

    public void SetSelectedSession(int index) {
        if (index == -1) {
            OnSessionSelected(DefaultSession);
            return;
        }
        if (index > ViewModel.Sessions.Count - 1 || index < 0) {
            return;
        }

        OnSessionSelected(ViewModel.Sessions[index]);
    }

    protected void OnSessionSelected(Session session) {
        ViewModel.SelectedSession = session;
        OnUpdatedSession?.Invoke();
    }

}